rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Portfolio/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /Property/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if true;
      allow delete: if false;
    }

    match /Room/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /Student/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if true;
      allow delete: if false;
    }

    match /Landlord/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /Agency/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if true;
      allow delete: if false;
    }

    match /User/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /Contract/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /ContractPaths/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /Contract/{parent}/tenant_info/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /{path=**}/tenant_info/{document} {
      allow read: if true;
    }


    match /Tip_offs/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /InfoBoard/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /Screening_Info/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /analytics/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /Announcements/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /Complaints/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /Prelinked_Tenants/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /Deleted_Accounts/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /Agent/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if false;
    }

    match /Archived_Tenants/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /Broadcasts/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /Broadcasts/{parent}/Broadcast_Messages/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/Broadcast_Messages/{document} {
      allow read: if true;
    }


    match /chats/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /chat_messages/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /Automated_Messages/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /Incidents/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /Security_Providers/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /Security_Providers/{parent}/Security_Guards/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/Security_Guards/{document} {
      allow read: if true;
    }


    match /Panic_Button_Alert/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /Educational_Institution/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /Letify_Chatbot_Chats/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /Letify_Chatbot_Chats/{parent}/chatbot_messsages/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/chatbot_messsages/{document} {
      allow read: if true;
    }


    match /Ticket_Lodging/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /Screening_Builder_Question/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /Screening_Builder/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /Screening_Builder_Question/{parent}/Screening_Builder_Answers/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /{path=**}/Screening_Builder_Answers/{document} {
      allow read: if true;
    }


    match /Contract_Builder/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /Contract_Builder_Main_Clause/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /Contract_Builder_Main_Clause/{parent}/Contract_Builder_Sub_Clause/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/Contract_Builder_Sub_Clause/{document} {
      allow read: if true;
    }


    match /ff_user_push_notifications/{id} {
      allow read, update, delete: if false;
      allow create: if /databases/$(database)/documents/User/$(request.auth.uid) == request.resource.data.sender;
    }
  }
}
